@tailwind base;
@tailwind components;
@tailwind utilities;

$transition-slowest: 1000ms;
$transition-slow: 700ms;
$transition-medium: 500ms;
$transition-fast: 300ms;
$transition-faster: 100ms;
$transition-fastest: 75ms;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #151515;
  background: #e8e8e8;
}

.transition-slow {
  transition: all ease-in-out $transition-slow;
}

.transition-slowest {
  transition: all ease-in-out $transition-slowest;
}

.transition-medium {
  transition: all ease-in-out $transition-medium;
}

.transition-fast {
  transition: all ease-in-out $transition-fast;
}

.transition-faster {
  transition: all ease-in-out $transition-faster;
}

.transition-fastest {
  transition: all ease-in-out $transition-fastest;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #292929;
}

.navbar-enter {
  position: absolute;
  transform: translateY(-110%);
}

.navbar-enter-active {
  transform: translateY(0%);
  transition: all 350ms ease;
}

.navbar-exit {
  position: absolute;
}

.navbar-exit-active {
  transform: translateY(-110%);
  transition: all 350ms ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}